{{ if .Site.Params.SiteComments }}
{{ if not .Params.dis_comments }}
<div class="comment-container">
    <div id="comments" class="clearfix">
            <div id="container"></div>
            <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
            <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
            <script>
                var gitment = new Gitment({
                id: location.href, // 可选。默认为 location.href
                owner: 'howie6879',
                repo: 'howie6879.github.io',
                oauth: {
                    client_id: 'fcac95bc977ce2d76103',
                    client_secret: '1e35e7f20a0577fa2ebe7bdfdb7228ff9435250f',
                },
                })
                gitment.render('container')
            </script>
        <!-- {{ if .Site.DisqusShortname }} 
        {{ template "_internal/disqus.html" . }} 
        {{ end }} -->
    </div>
</div>
{{ end }}
{{ end }}
